<!DOCTYPE html>
<Html>

<head>
    <title>
        SignUp Form
    </title>
</head>

<body>
    <center><h1>SignUp Form</h1></center>
    <br/><br/>
    <form action="http://localhost:5000/SignUp" method="post">
        <div>
            <table style="margin-right: auto; margin-left: auto;border-spacing: 18px;">
                <tr>
                    <td>
                        Name:
                    </td>

                    <td>
                        <input type="text" placeholder="Enter User Name" name="user_name">
                    </td>
                </tr>
                <tr>
                    <td>
                        Email Id:
                    </td>

                    <td>
                        <input type="mail" placeholder="Enter User Email Id" name="user_email">
                    </td>
                </tr>
                <tr>
                    <td>
                        Phone Number:
                    </td>

                    <td>
                        <input type="number" placeholder="Enter user Phone Number" name="user_phone">
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit"></td>
                </tr>
            </table>
        </div>
    </form>
</body>

</html>