<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
    </head>
    <body>
        <center><h1>Form Detials</h1></center>
        <br/>
        <table style="margin-right: auto; margin-left: auto;border-spacing: 18px;">
            <tr>
                <td>
                    Name : 
                </td>
                <td>{{formdata['name']}}</td>
            </tr>
            <tr>
                <td>
                    Email : 
                </td>
                <td>{{formdata['email']}}</td>
            </tr>
            <tr>
                <td>
                    Phone :
                </td>
                <td>{{formdata['phone']}}</td>
            </tr>
        </table>
    </body>
</html>